body{
	background-color: #87ceeb;
	padding: 0;
	margin: 0;
}
marquee{
	background-color: #AFFEEE;
	color: black;
	text-align: center;
	overflow: hidden;
	font-family: calibri;
	font-size: 50px;
	padding-bottom: 5;
	margin: 0;

}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	color: white;
	background-color: #AFFEEE;
	overflow: hidden;
}
li{
  float: left;
  padding: 5px 5px 5px;
}
li a{
	font-family: sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: white;
}
li a:hover{
	background-color: black;
	text-decoration: none;
	color: white;
}
table tr td{
	border-collapse: 5px solid black;
    border: 5px solid black;
    padding: 5px 15px;
    text-align: center;
  }